
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: "open_sansregular";
   -webkit-touch-callout: none;
   -webkit-user-select: none;
}

p, h1, h2, h3, h4, h5 {
   pointer-events: none;
}

body.ui.two.column.page.divided.grid {
  padding-top: 8px;
}

div.ui.menu > a.item {
  width: 50%;
}

.ui.small.form .ui.two.column.grid > div.row {
  padding-top: 2px;
}

.six.wide.column > h1.header {
  margin-top: 2px;
  margin-bottom: 10px;
}

.ui.small.form .ui.two.column.grid .row .column > input {
  padding-top: 3px;
  padding-bottom: 3px;
}
