# executables files
*.exe
*.dll

# node-webkit windows files
icudtl.dat
nw.pak
locales/

# Visual Studio files
*.sln
*.suo
*.vcxproj
*.filters

# Visual Studio Data Base
*.sdf
*.opensdf

# Shell scripts
*.sh
*.bat
*.ps1